@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#about{
    height: 537px;
   margin-top: 100px;
    background: linear-gradient(rgb(0,0,0,0.50),rgb(0,0,0,0.50)), url(images/vrbg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}
#about h1{
    color: white;
    font-size: 75px;
    font-family: 'Montserrat', sans-serif;;
    position: relative;
    top: 140px;
    margin-left: 50px;
    
}
#about p{
    color: white;
    position: relative;
    top: 160px;
    margin-left: 50px;
}